@import "header.scss";
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    vertical-align: middle;
    user-select: none;
    overflow: hidden;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: $bgColor;
}
.theforma {
    color: $fcolor;
    background-color: $formColor;
    font-size: 2.5vh;
    padding: 0.5%;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    border-radius: 0.7vw;
    border: $profBocolor;
    height: max-content;
    form {
        display: grid;
        background-color: inherit;
        grid-template-columns: repeat(2, max-content);
        grid-template-rows: repeat(2, max-content);
        column-gap: 2.5vw;
        row-gap: 1.5vh;
        grid-auto-flow: column;
        .spec {
            background-color: inherit;
            display: flex;
            justify-content: right;
            button {
                color: $fcolor;
                font-size: 3vh;
                border: $profborder $fcolor;
                padding: 0.5%;
                background-color: $divColor;
                border-radius: 0.5vw;
                cursor: pointer;
            }
        }
        #levbut {
            a, a:visited, a:active {
                color: $fcolor;
                text-decoration: none;
                background-color: inherit;
            }
        }
    }
    input {
        background-color: inherit;
        margin-top: auto;
        margin-bottom: auto;
        outline: none;
        border: $profBocolor;
        font-size: 2.5vh;
        height: max-content;
        background-color: $divColor;
        color: $fcolor;
    }
    p {
        color: $fcolor;
        background-color: inherit;
        vertical-align: middle;
    }
    #nagl {
        background-color: inherit;
        width: 100%;
        margin-bottom: 0.5vh;
        padding-bottom: 0.5vh;
        font-weight: bold;
        text-align: center;
        color: $fcolor;
    }
    #vnim {
        background-color: inherit;
        font-weight: bold;
        color: rgb(255, 40, 40);
        text-align: center;
        margin-top: 1vh;
        font-size: 3vh;
    }
}